<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
상품 등록 form (사진 첨부 가능)
th:value="${session.loginUser.getId()}
<form th:action method="post" th:object="${itemAddForm}" enctype="multipart/form-data">
    <ul>
        <li>상품명<input type="text" name="itemName"></li>
        <li>상품가격<input type="number" name="itemPrice"></li>
        <li>상품정보<input type="text" name="itemInfo"></li>
        <li>상품카테고리<input type="text" name="itemCategory"></li>
        <li>상품사진<input type="file" multiple="multiple" name="itemImageFiles"></li>
    </ul>
    <input type="submit"/>
</form>
</body>
</html>