<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Add your CSS link here -->
</head>

<body>
<h2>Product Details</h2>
<div>
    <h3>Item Name: <span th:text="${item.itemName}">Item Name</span></h3>
    <p>Category: <span th:text="${item.itemCategory}">Category</span></p>
    <p>Price: <span th:text="${item.itemPrice}">Price</span>원</p>
    <p>Count: <span th:text="${item.itemStock}">Count</span>개</p>
    <p>Item Info: <span th:text="${item.itemInfo}">Item Info</span></p>
<!--    <p>첨부 파일: <span th:each="imageFile : ${item.itemImageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"></span></p>-->

    <h4>Images:</h4>
    <img th:each="imageFile : ${item.itemImageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>

</div>

<form th:action="@{/order/new}" method="post">
    <!-- Hidden input fields to include itemId and userId -->
    <input type="hidden" th:name="itemId" th:value="${item.id}" />
    <input type="hidden" th:name="userId" th:value="${user.id}" />


    <!-- Input field for count -->
    <label for="count">Quantity:</label>
    <input type="number" id="count" name="count" value="1" min="1" required />

    <button type="submit">주문하기</button>
</form>

<form th:action="@{/myBag/keepMyBack}" method="post">
    <input type="hidden" th:name="itemId" th:value="${item.id}" />
    <input type="hidden" th:name="userId" th:value="${user.id}" />

    <!-- Input field for count -->
    <label for="count">Quantity:</label>
    <input type="number" name="count" value="1" min="1" required />
    <button type="submit">장바구니 담기</button>

</form>
<p>User Role: <span th:text="${user.userRole}">User Role</span></p>

<button th:if="${user.userRole.value == T(workout.gym.domain.entity.UserRole).ADMIN.value}">
    <a th:href="@{/items/{id}/update(id=${item.id})}">수정</a>
</button>


<!-- 삭제 버튼 -->
<form th:if="${user.userRole.value == T(workout.gym.domain.entity.UserRole).ADMIN.value}"
      th:action="@{/items/{id}/delete(id=${item.id})}" th:method="post">
    삭제
    <input type="submit">
</form>



<!--<h2><a href="/order/new">주문하기</a></h2>-->
</body>

</html>
