<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/communityMain.css}">

<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="row my-3">
    <div class="col-6">
        <h2><a href="/community/new">글 등록하러 가기</a></h2>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="text" id="search_kw" class="form-control" th:value="${kw}">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
</div>

<ul class="community-list" th:each="community : ${communityList}">
    <li>
        <a th:href="@{/community/{id}(id=${community.id})}">
            번호: <strong th:text="${community.id}"></strong><br>
            제목: <strong th:text="${community.communityTitle}"></strong>
            <strong class="text-danger small ms-2" style="font-size: small; color: red;" th:if="${#lists.size(community.communityAnswers) > 0}" th:text="${#lists.size(community.communityAnswers)}"></strong><br>
            <strong th:if="${community.user != null}">작성자: <strong th:text="${community.user.nickname}"></strong><br></strong>
            카테고리: <strong th:text="${community.communityCategory}"></strong><br>
            내용: <strong th:text="${community.communityContent}"></strong><br>
            저장일: <strong th:text="${#temporals.format(community.createdDate, 'yyyy-MM-dd HH:mm')}"></strong>
        </a>

    </li>

</ul>
<!-- 페이징처리 시작 -->
<div th:if="${!communityList.isEmpty()}">
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 링크 -->
        <li class="page-item" th:classappend="${!communityList.hasPrevious()} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${communityList.getNumber()-1}">
<!--               th:href="@{|?start=${communityList.getNumber() - 1}&end=${communityList.getSize()}|}">-->
                <span>이전</span>
            </a>
        </li>

        <!-- 페이지 숫자 링크 -->
        <li th:each="page: ${#numbers.sequence(0, communityList.getTotalPages() - 1)}"
            th:if="${page >= communityList.getNumber() - 5 and page <= communityList.getNumber() + 5}"
            th:classappend="${page == communityList.getNumber()} ? 'active'"
            class="page-item">
            <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
<!--            th:href="@{|?start=${page}&end=${communityList.getSize()}|}"-->
        </li>

        <!-- 다음 페이지 링크 -->
        <li class="page-item" th:classappend="${!communityList.hasNext()} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${communityList.getNumber()+1}">
<!--               th:href="@{|?start=${communityList.getNumber() + 1}&end=${communityList.getSize()}|}">-->
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->
<form th:action="@{/community}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${communityList.getNumber()}">
</form>
</body>
<script>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
<div th:replace="fragments/footer :: footer" />
</html>