<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div>
    <h3>communityTitle: <span th:text="${community.communityTitle}">communityTitle</span>
        <span th:if="${community.lastModifiedDate != null}">(수정된 파일. 수정 날짜 : <span th:text="${community.lastModifiedDate}"></span>)</span>
    </h3>
    <p>communityCategory: <span th:text="${community.communityCategory}">communityCategory</span></p>
    <p>communityContent: <span th:text="${community.communityContent}">communityContent</span></p>
    <p>communityCreatedDate: <span th:text="${community.createdDate}">communityCreatedDate</span></p>
    <!--    <p>첨부 파일: <span th:each="imageFile : ${item.itemImageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"></span></p>-->

    <h4>Images:</h4>
    <img th:each="imageFile : ${community.communityImageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>

    <h5 th:text="|${#lists.size(community.communityAnswers)}개의 답변이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="answer : ${community.communityAnswers}" th:text="${answer.getContent()}"></li>
        </ul>
    </div>

    <form th:action="@{|/communityAnswer/create/${community.id}|}" th:object="${CommunityAnswerAddForm}" method="post">
<!--        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">-->
<!--            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--        </div>-->
        <textarea name="content" rows="15" th:field="*{content}"></textarea>
        <div class="field-error" th:errors="*{content}">
            내용 오류
        </div>
        <input type="submit" value="답변등록">
    </form>



    <button><a th:onclick="|location.href='@{{id}/update(id=${community.id})}'|">수정</a></button>
    <form th:action="@{/community/{id}/delete(id=${community.id})}" th:method="post">
        삭제
        <input type="submit">
    </form>
</div>
</body>
</html>