<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <div class="logo"><a href="/">Work & Out Balance</a></div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Shop</a></li>
        <li><a href="/workoutInfo">Workouts</a></li>
        <li><a href="/nutrition">Nutrition</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/myPage">MyPage</a></li>
        <div>
          <a
                  th:href="${session.loginUser == null ? '/login' : '/logout'}">
<!--            <img class="login_img" src="/resources/img/usertest.png" /> -->
            <span th:text="${session.loginUser == null ? 'LOGIN' : 'LOGOUT'}"></span>
          </a>
        </div>
      </ul>
    </div>
  </nav>
</div>
</html>