<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="nav">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <div class="logo"><a href="/">Work & Out Balance</a></div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Shop</a></li>
        <li><a href="/workoutInfo">Workouts</a></li>
        <li><a href="/nutrition">Nutrition</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/myPage">MyPage</a></li>
          <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
</html>