<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness World</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <div class="logo">Work & Out Balance</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Workouts</a></li>
            <li><a href="#">Nutrition</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">MyPage</a></li>
        </ul>
    </div>
</nav>

<!-- Hero Section -->
<header class="hero">
    <div class="container">
        <h1>Welcome to Fitness World</h1>
        <p>Get fit, Stay healthy, Be happy</p>
        <a href="/login" class="cta-button">Join Now</a>
    </div>
</header>


<!-- About Section -->
<section class="about">
    <div class="container">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula, libero non facilisis fringilla,
            mauris odio consectetur lacus.</p>
    </div>
</section>

<!-- Featured Workouts Section -->
<section class="featured-workouts">
    <div class="container">
        <h2>Featured Workouts</h2>
        <div class="workout-card">
            <!-- Workout Card Content -->
        </div>
        <div class="workout-card">
            <!-- Workout Card Content -->
        </div>
        <div class="workout-card">
            <!-- Workout Card Content -->
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2023 Fitness World. All rights reserved.</p>
    </div>
</footer>

</body>

</html>
