<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
나의 장바구니
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
<!--        <th>회원명</th>-->
        <th>이름</th>
        <th>장바구니물건가격</th>
        <th>장바구니물건수량</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myBag : ${myBagList}">
        <td th:text="${myBagList.id}"></td>
        <!-- 반복문을 사용하여 orderItems의 각 요소에 접근 -->
        <th:block th:each="orderItem : ${myBagList.orderItems}">

            <td th:text="${orderItem.item.itemName}"></td>
            <td th:text="${orderItem.orderPrice}"></td>
            <td th:text="${orderItem.count}"></td>

        </th:block>
    </tr>

        <!--        <td>-->
        <!--            <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
        <!--               th:href="'javascript:cancel('+${item.id}+')'"class="btn btn-danger">CANCEL</a>-->
        <!--        </td>-->
<!--    </tr>-->
    </tbody>
</table>
</body>
</html>