<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<link rel="stylesheet" href="../css/myPage.css">
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <h1>Welcome to My Page</h1>
    <div class="user-info" th:object="${user}">
        <p><strong>Username:</strong> <span th:text="${user.username}">JohnDoe123</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">john.doe@example.com</span></p>
        <p><strong>Address:</strong> <span th:text="${user.address}">123 Main St, City, Country</span></p>
        <p><strong>Phone:</strong> <span th:text="${user.phone}">+1 123-456-7890</span></p>
        <p><strong>Joined:</strong> <span th:text="${user.createDate}">2023-07-01 10:00 AM</span></p>
        <p><strong>Nickname:</strong> <span th:text="${user.nickname}">JohnDoe</span></p>
        <p><strong>Real Name:</strong> <span th:text="${user.realname}">John Doe</span></p>
        <p><strong>Gender:</strong> <span th:text="${user.gender}">Male</span></p>
        <p><strong>Bio:</strong> <span th:text="${user.bio}">I'm a fitness enthusiast!</span></p>
    </div>
</div>

<h3>주문 내역</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>회원명</th>
        <th>이름</th>
        <th>주문가격</th>
        <th>주문수량</th>
        <th>상태</th>
        <th>일시</th>
        <th>배송지 주소</th>
        <th></th>
        <th></th>
        <th>배송상태</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderList}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user.nickname}"></td>
        <td th:text="${order.orderItems[0].item.itemName}"></td>
        <td th:text="${order.orderItems[0].orderPrice}"></td>
        <td th:text="${order.orderItems[0].count}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.delivery.address.getCity()}"></td>
        <td th:text="${order.delivery.address.getStreet()}"></td>
        <td th:text="${order.delivery.address.getZipcode()}"></td>
        <td th:text="${order.delivery.deliveryStatus}"></td>
        <!--        <td>-->
<!--            <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
<!--               th:href="'javascript:cancel('+${item.id}+')'"class="btn btn-danger">CANCEL</a>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

<h2><a href="/myBag">장바구니로 이동</a></h2>
<div th:replace="fragments/footer :: footer" />

</body>
</html>
